.promo-card-wrapper {
  @include newtab-card-style;

  display: none; // hidden by default
  box-shadow: var(--box-shadow-card);
  border-radius: var(--border-radius-large);
  height: 298px;
  width: 228px;
  position: relative;
  padding: var(--space-large);

  .promo-card-inner {
    display: flex;
    flex: 1;
    gap: var(--space-medium);
    align-items: stretch;
    flex-direction: column;
  }

  .promo-card-title {
    display: block;
    font-size: var(--font-size-medium);
    font-weight: var(--heading-font-weight);
  }

  .promo-card-body {
    display: block;
  }

  .promo-card-dismiss-button {
    position: absolute;
    inset-block-start: var(--space-small);
    inset-inline-end: var(--space-small);
    margin: 0;
  }

  .promo-card-cta-wrapper {
    margin-block-start: auto;
    align-self: flex-end;
  }

  .img-wrapper {
    height: 132px;
    width: 196px;
  }
}

// Card grid and sections have different breakpoints where we move to 3 columns.
.ds-card-grid {
  .promo-card-wrapper {
    @media (min-width: $break-point-ultra-wide) {
      display: flex;
      flex-direction: column;
    }
  }
}

// Card grid and sections have different breakpoints where we move to 3 columns.
.ds-section-wrapper{
  .promo-card-wrapper {
    @media (min-width: $break-point-sections-variant) {
      display: flex;
      flex-direction: column;
    }
  }
}
