/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * osmosis.org - page content is not centered, breaking the layout.
 * Bug #2010102 - https://bugzilla.mozilla.org/show_bug.cgi?id=2010102
 *
 * The sites relies on justify-items CSS working without specifying
 * display:grid or flexbox, which only Chrome currently supports.
 */
.justify-items-center {
  display: inline-grid;
}
