/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * usbank.com - setting a minimum font size can cause layout breakage.
 * Bug #2015962 - https://bugzilla.mozilla.org/show_bug.cgi?id=2015962
 *
 * The site has some broken CSS which interacts poorly with a minimum font
 * size set in Firefox. We specify a fixed version of their CSS here.
 */
.usb--wrapper.is-value .usb--floating-label_overflow,
.usb--wrapper.is-focused.is-value label.usb--floating-label_overflow {
  top: -1.125rem;
}
.usb--wrapper.is-focused label.usb--floating-label_overflow {
  top: -1.125rem;
  top: calc(var(--text-input-focus-active-label-top, 0) - 1.125rem);
}
