/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * ogcrush.org - the site's scrolling is broken.
 * Bug #2011819 - https://bugzilla.mozilla.org/show_bug.cgi?id=2011819
 * WebCompat issue #203155 - https://webcompat.com/issues/203155
 */
.slick-slide {
  height: fit-content;
}
