/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * vanguard.com - focused inputs appear empty
 * Bug #2011898 - https://bugzilla.mozilla.org/show_bug.cgi?id=2011898
 *
 * The site is adding transparency to moz-focusring, which does not do
 * what they seem to think it does. This CSS removes that to fix the issue.
 */
button:-moz-focusring,
input:-moz-focusring,
select:-moz-focusring {
  color: inherit;
}
