/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * myordbok.com - page layout is broken.
 * Bug #2012708 - https://bugzilla.mozilla.org/show_bug.cgi?id=2012708
 * WebCompat issue #203981 - https://webcompat.com/issues/203981
 *
 * Firefox honors a min-width:100% which other browsers do not, and which
 * breaks the site's layout. This CSS works around that issue.
 */
div.ptl > div > div.define.result > div.promote {
  min-width: revert;
}
